@import '~antd/dist/antd.css';

/* root css */
#root {
    display: flex;
    justify-content: center;
}

/* main Frame */
.outerFrame{
    background-color:#f1f3f4;
    width: 70vw;
}

/* header css*/
.headContent {
    
    height: 15vh;
    background-color: #053868;
    padding-bottom: 20px;
}

.headContent > h1 {
    text-align: center;
    color : white;
}

/* content css */
.content > ul {
    display: flex;
    flex-wrap: wrap;
}

.content > ul > li, .content > ul > div > li{
    list-style: none;
}

.liKey{
    width: 20%;
}

.liValue{
    width: 80%;
}

.ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 5px 0;
}