@import '~antd/dist/antd.css';


#root {
    display: flex;
    justify-content: center;
}
.outerFrame{
    /* background-color:#f1f3f4; */
    width: 70vw;
}

.headContent {
    
    height: 15vh;
    background-color: #053868;
    padding-bottom: 20px;
}

.headContent > h1 {
    text-align: center;
    color : white;
}
